body {
    background-color: rgb(216, 213, 213);
    padding: 0 100px;
  
   }

.nav {
    padding-top: 20px;
    display:flex; 
    font-family: 'Questrial', sans-serif;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
 }

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color:white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
    text-decoration: none;
}

.primary-header {
    color: rgb(78, 78, 87);
    font-family: 'Lobster', cursive;
    font-size: 20px;
    display: inline;
    border-radius: 50%;
    line-height: 2px;
    margin: 25px;
}

.primary-container{
    display: flex; 
    justify-content: center;
    font-family: 'Lobster', cursive;
    color: rgb(78, 78, 87);
    font-size: large;
}

.headshot{
    border-radius: 50%;
    width: auto;
    height: 275px; 
    padding: 20px;
}

.hello{
    line-height: 20px;
    font-size: xx-large;
}

.about-me{
    line-height: 20px; 
    font-size: x-large;
    padding-left: 50px;
 
}

.primary-container{
    display: flex; 
    justify-content: center;
    font-family: 'Lobster', cursive;
    color: rgb(78, 78, 87);
    font-size: large;
}
.call{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: cyan;
}

.contact{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: cyan;
}

.github{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: cyan;
}

.whoami{
    line-height: 25px;
}

 .summary-me{
     display: flex;
     justify-content: space-around;
     text-align: center;
     padding: 20px; 
    }
 
.button {
        background-color: #61d0d4; 
        border: none;
        color: white;
        width: 150px;
        height: 150px;
        margin: 4px 2px;
        border-radius: 50%;

    }

.button-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.button2 {
    background-color: #e5165b; 
    border: none;
    color: white;
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 50%;
}
.button3{
    background-color: #d99b3f;
    border: none;
    color: white;
    width: 150px;
    height: 150px;
    margin: 4px 2px;
    border-radius: 50%; 
    }

.footer{
    background-color: #e5165b; 
    display: flex; 
    justify-content: space-evenly;
    align-items: center; 
    color: white;
    font-family: 'Gentium Book Basic', serif;
}

.footer-content-container{
    display: flex;
}
.circle {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 50%;
    background-color: #61d0d4;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: xx-large;
    margin-right: 5px;
}


.flexcontainer{
    display: flex;
}

.left-column{
    width: 60%;
    align-items: left;
    padding: 25px;
    font-family: 'allura', sans-serif;
}


.right-column{
    width: 30%;
    text-align: center;
    align-items: center;
    margin: 30px;
}
.professional{
    display: flex;

}
.button4{
    background-color: #61d0d4; 
        border: none;
        color: white;
        width: 150px;
        height: 150px;
        margin: 4px 2px;
        border-radius: 50%;
        text-transform: uppercase;
        font-family: 'gentium book basic', serif; 
}

.exclamation{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline;
    color: #e5165b;
}

.languages{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline;
    color: #e5165b;
}
/* .resumecircle1{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e5165b;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: xx-large;
    margin-right: 5px;
} */
